/* Dégradé de fond pour le conteneur principal */
.main-content {
    padding: 20px;
    flex-grow: 1; /* Permet au conteneur de s'étendre pour remplir l'espace disponible */
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center; /* Centrer les éléments horizontalement */
}

.header-logo {
    width: 100%;
    padding: 10px 20px; /* Ajuster selon vos besoins */
    background-color: #164e45;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%; /* Ajuster pour centrer le contenu */
    max-width: 1100px;
    padding: 0 20px;
}

.logo {
    max-height: 70px;
}

.header-title {
    background-color: none;
    color: #f5f5f5;
    width: 100%;
    text-align: center;
    padding: 100px 20px 20px; /* Espace supplémentaire pour éviter que le contenu soit masqué par le header */
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; /* Pour centrer verticalement */
    box-sizing: border-box; /* Assurez-vous que le padding est inclus dans la largeur */
}

.header-title h1 {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700; /* Assure une police en gras */
    color: white;
    margin-bottom: 10px; /* Ajustez cette valeur pour augmenter l'espace sous le titre */
    font-size: 36px;
}

.description {
    font-size: 28px;
    font-weight: normal;
    /* Vous pouvez également ajuster cette valeur pour augmenter l'espace au-dessus de la description */
    margin-top: 10px; 
}
.orderNowButton {
    background-color: #2c9181; /* Couleur du bouton */
    color: white;
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    font-family: 'Roboto Condensed', sans-serif;
    cursor: pointer;
    text-decoration: none;
    font-weight: bold;
    margin-right: 70px; /* Décale le bouton 'Order Now' vers la gauche */
}

.orderNowButton:hover {
    background-color: #247165;
}

.title-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px; /* Espacement entre l'image et le texte */
    width: 90%; /* Ajuster pour centrer le contenu */
    max-width: 1000px;
    box-sizing: border-box; /* Assurez-vous que le padding est inclus dans la largeur */
}

.title-image {
    max-width: 400px; /* Ajustez la taille de l'image selon vos besoins */
    height: auto;
}

.title-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Aligne le texte à gauche de l'image */
    text-align: left; /* Assurez-vous que le texte est aligné à gauche */
}

/* Style pour les mots en couleur */
.highlight {
    color: #e0ff47;
}

footer {
    width: 100%;
    padding: 10px 0;
    background-color: #ffffff; /* Ou autre couleur de fond */
    color: white;
    text-align: center;
    position: relative; /* Modifier si nécessaire selon la disposition du contenu */
    bottom: 0;
    left: 0;
}

footer img {
    max-height: 650px; /* Ajuster selon la taille désirée */
    margin-bottom: 10px;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column; /* Organiser les enfants verticalement */
    align-items: center; /* Centrer les éléments horizontalement */
    height: auto; /* Laisser la hauteur s'ajuster au contenu */
    min-height: 100vh; /* Assurer un minimum de hauteur pleine fenêtre */
    background: radial-gradient(ellipse, #2c9181, #164e45); /* Dégradé de vert */
    overflow: auto; /* Permettre le défilement vertical si le contenu dépasse */
    padding-top: 40px; /* Ajuster selon la hauteur de l'en-tête */
    padding-bottom: 60px;
}
#main-container {
    background: none; /* Dégradé de vert */
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-top: 20px; /* Ajout d'un peu d'espace au-dessus du chatbot */
    box-sizing: border-box; /* Assurez-vous que le padding est inclus dans la largeur */
}

#chatbot {
    width: 90%;
    max-width: 1000px;
    min-height: 600px;
    background-color: #164e45;
    border: 2px solid #dedede;
    border-radius: 5px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-top: 5px; /* Espace entre le header et le chatbot */
    margin-bottom: 40px; /* Espacement entre le chatbot et les images */
    transition: height 0.3s ease; /* Transition douce pour le changement de hauteur */
}

#messages {
    flex: 8; /* Cela permet à #messages d'occuper 80% de l'espace disponible */
    overflow-y: auto; /* Permet le défilement vertical si nécessaire */
    margin-bottom: 20px;
    padding: 10px;
    background: white;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#userInput, #sendButton {
    flex-grow: 0;
    padding: 10px;
    margin: 0 5px;
    border-radius: 4px;
}

#userInput {
    flex: 2; /* Cela permet à l'input de prendre 10% de l'espace restant */
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 4px;
    margin-right: 10px;
}

#sendButton {
    flex: 0,5; /* Cela permet au bouton d'occuper les 10% de l'espace restant */
    padding: 10px 20px;
    background-color: #2c9181;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}
/* Container pour userInput et sendButton pour les aligner horizontalement */
.input-container {
    display: flex;
    justify-content: space-between; /* Cela sépare le champ de texte et le bouton */
    align-items: center;
    width: 100%; /* Cela prend la pleine largeur de #chatbot */
}

#sendButton:hover {
    background-color: #0056b3; /* Assombrir le bouton au survol */
}
#extra-content {
    display: flex;
    justify-content: center; /* Centre les éléments horizontalement */
    flex-wrap: wrap; /* Permet aux éléments de passer à la ligne si nécessaire */
    gap: 20px; /* Espace entre les images */
    margin-bottom: 40px; /* Ajout d'espace en dessous des images */
    width: 90%; /* Ajustez pour correspondre à la largeur du chatbot */
    max-width: 1000px;
    box-sizing: border-box;
}
.typing-indicator {
    display: flex;
    justify-content: flex-start; /* Alignement à gauche */
    align-items: center; /* Alignement vertical au centre */
    height: 24px; /* Ajuste selon tes besoins */
    font-size: 24px; /* Augmente la taille de la police pour rendre les points plus visibles */
    margin-left: 10px; /* Ajouter une marge à gauche pour les espacer du bord */
}

.typing-indicator span {
    animation: blink 1.4s infinite; /* Augmente la durée de l'animation pour un effet plus doux */
    display: inline-block;
    margin: 0 4px; /* Augmente l'espacement entre les points */
}

.typing-indicator span:nth-child(2) {
    animation-delay: 0.2s;
}

.typing-indicator span:nth-child(3) {
    animation-delay: 0.4s;
}

@keyframes blink {
    0%, 80%, 100% {
        opacity: 0;
    }
    40% {
        opacity: 1;
    }
}

/* Importation des polices depuis Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap');

.image-response {
    max-width: 100%;
    height: auto;
    margin: 10px auto;
}

.user, .bot {
    padding: 10px 20px;
    margin: 5px;
    border-radius: 10px;
    color: #ffffff;
}
.bot {
    color: #333; /* Couleur foncée pour le texte de l'assistant, remplacez selon vos besoins */
    background-color: #ffffff; /* Arrière-plan blanc, vous pouvez omettre cette ligne si le fond est déjà blanc */
    /* ... autres styles ... */
}

.user {
    background-color: #164e45;
    color: #333
    align-self: flex-end;
}
.image-link {
    flex: 1 1 30%; /* Les éléments peuvent grandir et rétrécir, avec une base de 30% */
    max-width: 30%; /* Prend un tiers de l'espace disponible */
    box-sizing: border-box; /* Inclut padding et border dans la largeur */
    transition: transform 0.3s ease; /* Animation de la transformation */
}

.image-link img {
    max-width: 100%; /* Assure que l'image ne dépasse pas son conteneur */
    height: auto;
    display: block; /* Supprime les espaces blancs autour des images */
    border-radius: 10px; /* Arrondit les bords des images */
}

.image-link:hover {
    transform: scale(1.1); /* Agrandit l'image de 10% au survol */
}

.image-link a {
    display: block; /* Assure que le lien enveloppe complètement l'image */
}
.hidden {
    display: none;
}
/* Réinitialiser les marges pour le body et les éléments de header/footer */
body, h1, p {
    margin: 0;
    padding: 0;
}

/* Assurez-vous que le header et le footer collent au haut et au bas de la page */
header, footer {
    width: 100%;
    /* ... autres styles ... */
}

/* Si vous avez des espaces dus aux premiers et derniers enfants du header ou du footer */
header > :first-child, footer > :first-child {
    margin-top: 0;
}

header > :last-child, footer > :last-child {
    margin-bottom: 0;
}

@media (max-width: 768px) {
    html, body {
        overflow-x: hidden;
        margin: 0;
        padding: 0;
    }

    /* Ajouter un fond au-delà de la barre d'état */
    body {
        padding-top: env(safe-area-inset-top); /* Ajoute de l'espace pour la barre d'état sur les appareils avec encoche */
        background-color: #164e45; /* Couleur de fond pour le corps */
    }

    .header-logo {
        width: 100%;
        height: 60px; /* Hauteur fixe pour le header */
        padding: env(safe-area-inset-top) 20px; /* Ajuste le padding pour inclure la barre d'état */
        background-color: #164e45;
        color: white;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1000;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
        display: flex;
        justify-content: space-between; /* Positionner les éléments à gauche et à droite */
        align-items: center; /* Aligner verticalement les éléments au centre */
        margin-top: 0; /* Remettre la marge à zéro pour l'affichage côte à côte */
    }

    .header-logo .logo {
        max-height: 40px; /* Ajuster la hauteur du logo selon vos besoins */
        margin-left: -10px; /* Ajuster la marge à gauche */
        margin-top: -60px; /* Ajuster la marge en haut */
    }

    .header-logo .orderNowButton {
        background-color: #2c9181;
        color: white;
        padding: 10px 20px; /* Ajuster le padding selon vos besoins */
        border: none;
        border-radius: 5px;
        font-size: 14px;
        font-family: 'Roboto Condensed', sans-serif;
        cursor: pointer;
        text-decoration: none;
        font-weight: bold;
        margin-right: 35px; /* Ajuster la marge à droite */
        margin-top: -60px; /* Ajuster la marge en haut */
    }

    .header-content {
        flex-direction: row; /* Assurer que les éléments sont en ligne */
        align-items: center;
        padding-top: 60px; /* Ajouter un padding supérieur pour éviter que le contenu soit masqué par le header */
    }

    .title-container {
        flex-direction: column;
        align-items: center;
        padding-top: 80px; /* Ajouter un padding supérieur pour éviter que le contenu soit masqué par le header */
    }

    .orderNowButton {
        margin-right: 0;
        margin-top: 0; /* Remettre la marge à zéro pour l'affichage côte à côte */
    }

    .header-title {
        padding: 10px; /* Réduit pour un meilleur ajustement sur les écrans mobiles */
        height: auto; /* Hauteur automatique pour s'adapter au contenu */
    }

    .header-title h1 {
        font-size: 20px; /* Ajuster la taille de la police pour correspondre à la nouvelle hauteur */
    }

    .description {
        font-size: 16px;
    }

    #chatbot {
        min-height: 100vh; /* Assurez-vous que le conteneur peut s'étendre sur toute la hauteur de l'écran */
        height: 100vh; /* S'étend sur toute la hauteur de l'écran */
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        overflow: auto; /* Permettre le défilement */
    }

    .input-container {
        flex-direction: column;
    }

    #userInput, #sendButton {
        width: 100%;
        margin: 5px 0;
    }

    #extra-content {
        width: 95%;
    }

    .image-link {
        flex: 1 1 100%; /* Les éléments occupent la pleine largeur */
        max-width: 100%; /* Ajuster pour une pleine largeur */
    }

    #main-container {
        flex-grow: 1;
        overflow: auto; /* Permettre le défilement */
        display: flex;
        flex-direction: column;
    }

    html, body {
        height: 100%;
        overflow-x: hidden; /* Empêche le défilement horizontal */
    }

    body {
        display: flex;
        flex-direction: column;
    }

    #messages {
        flex-grow: 1;
        overflow-y: auto; /* Permettre le défilement vertical */
    }
}